<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<h1>Zhenzhuo Lan</h1>
			<h2>LeetCode Practice</h2>

			<ul>
	        		<li><a href="/Python/270.-closest-binary-search-tree-value.html">270.-closest-binary-search-tree-value</a></li>
		        	<li><a href="/Python/286.-walls-and-gates.html">286.-walls-and-gates</a></li>
	        		<li><a href="/Python/339.-nested-list-weight-sum">339.-nested-list-weight-sum</a></li>
	        		<li><a href="/Python/346.-moving-average-from-data-stream">346.-moving-average-from-data-stream</a></li>
	    		</ul>
			<!-- <nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/pages/cv.html">CV</a></li>
	        		<li><a href="/pages/blog.html">Blog</a></li>
	    		</ul>
			</nav> -->
			<!-- <div class="container">
			
			{{ content }}
			
			</div><!-- /.container --> -->
			<!-- <footer>
	    		<ul>
	        		<li><a href="wzhdai@gmail.com">email</a></li>
				</ul>
			</footer> -->
		</body>
	</html>
